@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
#root,
#docs-root {
  --primary-bg-color: #fbf7eb;
  --secondary-bg-color: #ff9b48;
  --third-bg-color: #c9c04b;
  --fourth-bg-color: #f4c6e3;

  --primary-text-color: #000;
}

body {
  margin: 0;
  padding: 0;
}

section{
  padding: 100px 0;
}

h2{
  font-size: 40px;
}
