@tailwind base;
@tailwind components;
@tailwind utilities;


:root,
#root,
#docs-root {
  --primary-bg-color: #fbf7eb;
  --secondary-bg-color: #ff9b48;
  --third-bg-color: #c9c04b;
  --fourth-bg-color: #f4c6e3;
  --primary-text-color: #000;
  --cancel-text-color: #F57170;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* overflow-x: hidden; */
}

main {
  width: 100%;
}

section {
  padding: 110px 20px 50px 20px;
}

h1 {
  font-family: var(--font-outfit);
  font-weight: 600;
  letter-spacing: 0.025em;
}

h2 {
  font-size: 40px;
  font-family: var(--font-display);
  font-weight: 400;
  letter-spacing: 0.025em;
}

h3 {
  font-family: var(--font-outfit);
  font-weight: 600;
  letter-spacing: 0.025em;
}

p {
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  font-family: var(--font-outfit);
  font-weight: 200;
  letter-spacing: 0.025em;
}

li {
  font-family: var(--font-outfit);
}

.full-img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.full-img-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.full-img-container > div {
  position: unset !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.slick-prev:before, .slick-next:before {
  color: black!important;
  font-size: 30px!important;
}
.slick-prev, .slick-next{
  width: 30px!important;
  height: 30px!important;
  z-index: 1!important;
  
}
.slick-prev{
  left: 20px!important;
}
.slick-next{
  right: 20px!important;
}
