@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
#root,
#docs-root {
  --primary-bg-color: #fbf7eb;
  --secondary-bg-color: #ff9b48;
  --third-bg-color: #c9c04b;
  --fourth-bg-color: #f4c6e3;
  --primary-text-color: #000;
}

body {
  margin: 0;
  padding: 0;
}

main{
  width: 100%;
}

section{
  padding: 110px 20px 50px 20px;
}

h1{
   font-family: var(--font-outfit);
  font-weight: 600;
}

h2{
  font-size: 40px;
  font-family: var(--font-display);
  font-weight: 400;
}

h3{
  font-family: var(--font-outfit);
  font-weight: 600;
}

p{
  font-size: 1.25rem/* 20px */;
  line-height: 1.75rem/* 28px */;
  font-family: var(--font-outfit);
  font-weight: 200;
}

li{
  font-family: var(--font-outfit);
}
